# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales
*.sqlite3

# Archivos de entorno
.env

# Archivos de VS Code
.vscode/

# Ignorar todo el contenido de media (fotos, pdfs, etc)
media/*

# PERO hacer una excepción con el archivo fantasma para mantener la carpeta viva
!media/.gitkeep